@model MVC_Data.ViewModels.CreatePeopleViewModel

@{
	ViewData["Title"] = "People";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>

@{
	if (TempData.Peek("Message") != null)
	{
		<h3>@TempData.Peek("Message")</h3>
		@TempData.Remove("Message")
		;
	}
}

<div class="row">
	<form class="container" method="post" asp-action="FilterPersonCity">
		<label>Search</label>
		<br />
		<input type="text" name="filterInput" required />
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>

<div class="row">
	<label>Add new Person</label>
	<form class="container" method="post"  asp-controller="Person" asp-action="AddPerson">
		<div class="col">
			<label asp-for="NewPerson.Name"></label>
		</div>
		<div class="col">
			<input type="text" class="col" asp-for="NewPerson.Name" placeholder="Full Name" />
			<span asp-validation-for="NewPerson.Name"></span>
		</div>
		<div class="col">
			<label asp-for="NewPerson.PhoneNumber"></label>
		</div>
		<div class="col">
			<input type="text" class="col" asp-for="NewPerson.PhoneNumber" placeholder="Phone Number" />
			<span asp-validation-for="NewPerson.PhoneNumber"></span>
		</div>
		<div class="col">
			<label asp-for="NewPerson.CityId">City</label>
		</div>
		<div class="col">
			<select type="text" class="col" asp-for="NewPerson.CityId" asp-items="ViewBag.CityNames" required>
				<option class="col" value="" selected disabled>Select City</option>
			</select>
			<span asp-validation-for="NewPerson.CityId"></span>
		<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</form>
</div>
<p>@ViewBag.Statement</p>


@if (@Model != null)
{


	<partial name="_PersonHeaderPartial" model=@Model />
	<partial name="_PersonBodyPartial" model=@Model />

}
else
{
	<p>No results found.</p>
}
<div>
	<a asp-controller="Person" asp-action="Index">Refresh Table</a>
</div>