@model CreateCountryViewModel

@{
	ViewData["Title"] = "Add a Country";
}


<h1>@ViewBag.Title</h1>

@{
	if (TempData.Peek("Message") != null)
	{
		<h3>@TempData.Peek("Message")</h3>
		@TempData.Remove("Message")
		;
	}
}


<div class="row">
	<label>Add a new Country</label>
	<form class="container" method="post" asp-controller="Country" asp-action="AddCountry">
		<div class="col">
			<label asp-for="NewCountry.Name"></label>
			<input asp-for="NewCountry.Name" placeholder="Country Name" />
			<span asp-validation-for="NewCountry.Name"></span>
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</div>

<p>@ViewBag.Statement</p>

