@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>List ov Roles</h1>

<a asp-action="Create" class="btn btn-primary">Create a new Role</a>
<a asp-action="AddUserToRole" class="btn btn-success">Add User to Role</a>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                @if(role.Name != "User" && role.Name != "Admin")
                {
                <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger btn-sm">Delete Role</a>
                } 
            </td>
        </tr>
        
    }
</table>
